<section id="blog" class="section blog">
  <div class="section__img-wrap">
    <picture class="section__picture">
      <source
        srcset="./images/home/blog.webp 1x, ./images/home/blog@2x.webp 2x"
        type="image/webp"
      />
      <source srcset="./images/home/blog.jpg 1x, ./images/home/blog@2x.jpg 2x" type="image/jpeg" />
      <img class="section__img" src="./images/home/blog.jpg" alt="blog" />
    </picture>
  </div>
  <div class="blog__content-wrap">
    <p class="section-subtitle section-subtitle--blog">April 16 2020</p>
    <h2 class="section-title section-title--blog">Blog Post One</h2>
    <p class="section-description section-description--blog">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae
      laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum
      temporibus doloribus iste maiores deleniti?
    </p>
    <button class="blog__btn">Read Our Blog</button>
  </div>
</section>
