<section id="contact" class="section callback">
  <div class="container callback-container">
    <div class="section__img-wrap">
      <picture class="section__picture">
        <source
          srcset="
            ./images/home/contact.webp    1x,
            ./images/home/contact@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="./images/home/contact.jpg 1x, ./images/home/contact@2x.jpg 2x"
          type="image/jpeg"
        />
        <img
          class="section__img"
          src="./images/home/contact.jpg"
          alt="callback"
        />
      </picture>
    </div>
    <div class="callback__form-wrap">
      <h2 class="section-title section-title--callback">Request Callback</h2>
      <form
        name="callback"
        method="POST"
        netlify-honeypot="bot-field"
        data-netlify="true"
        class="callback__form"
      >
        <input
          type="hidden"
          name="subject"
          value="Sales inquiry from mysitename.netlify.app"
        />
        <p class="form__hidden">
          <label>
            Don’t fill this out if you’re human: <input name="bot-field"
          /></label>
        </p>
        <p>
          <label class="callback__label">
            <input
              type="text"
              name="name"
              class="callback__input"
              placeholder="Enter your name"
            />
          </label>
        </p>
        <p>
          <label class="callback__label callback__label--margin">
            <input
              type="email"
              name="email"
              class="callback__input"
              placeholder="Enter email*"
            />
            <span class="callback__worning visually-hidden">
              <svg class="callback__svg">
                <use href="./images/icons/icons.svg#worning"></use>
              </svg>
              This is a required field
            </span>
          </label>
        </p>
        <p>
          <button class="btn btn--collback" type="submit">
            <span class="btn__text">Send</span>
            <span class="loader"></span>
          </button>
        </p>
      </form>
    </div>
  </div>
</section>
