<footer class="footer">
  <div class="container">
    <ul class="list-social">
      <li class="item-social">
        <a href="#" class="link-social link-social--footer">
          <svg class="svg-social">
            <use href="./images/icons/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="item-social">
        <a href="#" class="link-social link-social--footer">
          <svg class="svg-social">
            <use href="./images/icons/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="item-social">
        <a href="#" class="link-social link-social--footer">
          <svg class="svg-social svg-social--youtube">
            <use href="./images/icons/icons.svg#youtube"></use>
          </svg>
        </a>
      </li>
      <li class="item-social">
        <a href="#" class="link-social link-social--footer">
          <svg class="svg-social svg-social--linkedin">
            <use href="./images/icons/icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__copyright">Copyright © 2021 - FinanceLedger</p>
  </div>
</footer>
