<section class="team">
  <div class="container">
    <p class="section-subtitle section-subtitle--team">Who we are</p>
    <h2 class="section-title section-title--team">Our Professional Team</h2>
    <p class="section-description section-description--team">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team__list">
      <li class="team__item">
        <div class="team__img-wrap">
          <picture>
            <source
              srcset="
                ./images/team/person1.webp    1x,
                ./images/team/person1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/team/person1.jpg    1x,
                ./images/team/person1@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="team__item-img"
              src="./images/team/person1.jpg"
              alt="John Doe"
            />
          </picture>
          <ul class="list-social list-social--team">
            <li class="item-social">
              <a
                href="https://www.facebook.com/s.butsay"
                class="link-social link-social--team"
                target="_blank"
              >
                <svg class="svg-social">
                  <use href="./images/icons/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="item-social">
              <a
                href="https://twitter.com/Alexand66145884"
                class="link-social link-social--team"
                target="_blank"
              >
                <svg class="svg-social">
                  <use href="./images/icons/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="item-social">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="link-social link-social--team"
                target="_blank"
              >
                <svg class="svg-social svg-social--youtube">
                  <use href="./images/icons/icons.svg#youtube"></use>
                </svg>
              </a>
            </li>
            <li class="item-social">
              <a
                href="https://www.linkedin.com/in/aleksandr-butsai-742542234/"
                class="link-social link-social--team"
                target="_blank"
              >
                <svg class="svg-social svg-social--linkedin">
                  <use href="./images/icons/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <p class="team__item-title">John Doe</p>
        <p class="team__item-text">President</p>
      </li>
      <li class="team__item">
        <div class="team__img-wrap">
          <picture>
            <source
              srcset="
                ./images/team/person2.webp    1x,
                ./images/team/person2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/team/person2.jpg    1x,
                ./images/team/person2@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="team__item-img"
              src="./images/team/person2.jpg"
              alt="Jane Doe"
            />
          </picture>
          <ul class="list-social list-social--team">
            <li class="item-social">
              <a
                href="https://www.facebook.com/s.butsay"
                class="link-social link-social--team"
                target="_blank"
              >
                <svg class="svg-social">
                  <use href="./images/icons/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="item-social">
              <a
                href="https://twitter.com/Alexand66145884"
                class="link-social link-social--team"
                target="_blank"
              >
                <svg class="svg-social">
                  <use href="./images/icons/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="item-social">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="link-social link-social--team"
                target="_blank"
              >
                <svg class="svg-social svg-social--youtube">
                  <use href="./images/icons/icons.svg#youtube"></use>
                </svg>
              </a>
            </li>
            <li class="item-social">
              <a
                href="https://www.linkedin.com/in/aleksandr-butsai-742542234/"
                class="link-social link-social--team"
                target="_blank"
              >
                <svg class="svg-social svg-social--linkedin">
                  <use href="./images/icons/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <p class="team__item-title">Jane Doe</p>
        <p class="team__item-text">Vice President</p>
      </li>
      <li class="team__item">
        <div class="team__img-wrap">
          <picture>
            <source
              srcset="
                ./images/team/person3.webp    1x,
                ./images/team/person3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/team/person3.jpg    1x,
                ./images/team/person3@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="team__item-img"
              src="./images/team/person3.jpg"
              alt="Steve Smith"
            />
          </picture>
          <ul class="list-social list-social--team">
            <li class="item-social">
              <a
                href="https://www.facebook.com/s.butsay"
                class="link-social link-social--team"
                target="_blank"
              >
                <svg class="svg-social">
                  <use href="./images/icons/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="item-social">
              <a
                href="https://twitter.com/Alexand66145884"
                class="link-social link-social--team"
                target="_blank"
              >
                <svg class="svg-social">
                  <use href="./images/icons/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="item-social">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="link-social link-social--team"
                target="_blank"
              >
                <svg class="svg-social svg-social--youtube">
                  <use href="./images/icons/icons.svg#youtube"></use>
                </svg>
              </a>
            </li>
            <li class="item-social">
              <a
                href="https://www.linkedin.com/in/aleksandr-butsai-742542234/"
                class="link-social link-social--team"
                target="_blank"
              >
                <svg class="svg-social svg-social--linkedin">
                  <use href="./images/icons/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <p class="team__item-title">Steve Smith</p>
        <p class="team__item-text">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
