.blog {
  max-width: 1360px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
  }

  @media (min-width: 1360px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.blog__content-wrap {
  padding: 40px 40px 40px 20px;
  background-color: $blue;
  color: $white;

  @media (min-width: 768px) {
    padding: 40px 53px 40px 32px;
  }

  @media (min-width: 1360px) {
    padding: 80px 56px 80px 28px;
    width: 690px;
  }
}

.section-subtitle--blog {
  margin-bottom: 8px;
}

.section-title--blog {
  margin-bottom: 24px;
}

.section-description--blog {
  margin-bottom: 24px;
}

.blog__btn {
  width: 184px;
  height: 47px;

  color: $white;
  background-color: transparent;

  border: 1px solid $white;
  border-radius: $border-radius;

  cursor: pointer;

  transition: color 250ms ease-in, background-color 250ms ease-in;

  &:hover {
    color: $green;
    background-color: $white;
  }

  @media (min-width: 768px) {
    width: 196px;
    height: 50px;

    font-size: 18px;
    line-height: 1.56;
  }
}
