.hero {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 142px;
  padding-bottom: 96px;

  color: var(--hero-title);

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../images/home/showcase.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/home/showcase@2x.jpg');
  }

  @media (min-width: 768px) {
    padding-top: 407px;
    padding-bottom: 410px;
  }

  @media (min-width: 1360px) {
    padding-top: 279px;
    padding-bottom: 282px;
  }
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero__title {
  font-weight: 300;
  font-size: 52px;
  line-height: 1.27;

  text-align: center;

  margin-bottom: 20px;

  @media (min-width: 768px) {
    font-size: 55px;
    line-height: 1.2;
    margin-bottom: 24px;
  }
}

.hero__text {
  font-size: 22px;
  line-height: 1.67;

  text-align: center;

  margin-bottom: 24px;

  @media (min-width: 768px) {
    margin-bottom: 32px;
  }
}
